torch>=1.9
torchvision>=0.10
pytorch-lightning>=1.5
ray>=1.9
ray[data]
ray[serve]
pillow
pyroaring
pyarrow
transformers
datasets
clip@git+https://github.com/openai/CLIP.git@e58d49454c9#egg=clip
annoy
tqdm
fastapi
pydantic
scikit-learn
pandas